
.icon-arrow-small-up i {
	font-size: 24px;
    padding: 5px 12px;
    
}
.fa_bars i {
    font-size: 21px;
    padding: 11px 15px;
    
}

.fa_lock i {
    font-size: 21px;
    padding: 11px 15px;
    
}

#header span.trigger {
    background: #0064d1 none repeat scroll 0 0;
   /* border-left: 2px solid #d8d8d8;*/
    cursor: pointer;
    display: block;
    height: 44px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 21;
    color: #fff;
}
#header span.menuVertical {
    background: #363636 none repeat scroll 0 0;
    border-left: 2px solid #474747;
    cursor: pointer;
    display: block;
    height: 44px;
    color:#f1f1f1;
    right: 150px;
    top: 0;
    width: 50px;
    
}

#header span.menuVerticalSeg {
    background: #f1f1f1 none repeat scroll 0 0;
    border-left: 2px solid #d8d8d8;
    cursor: pointer;
    display: block;
    height: 43px;
    color:#444444;
    right: 200px;
    top: 0;
    width: 50px;
    
}

.isStuck {
width: 100%;
position: fixed;
top:0px;
z-index: 21;
}
a.current {
background-color: #222;
}
#main_nav{
	float: right;
   
}

#topnav.nav {
  /*  padding: 5px 5px;*/
    background:#252525; /*#0583c7;*/
    display: block;
    height: 44px;
}
#topnav.nav ul {
    list-style: none;
  /*  float: right;*/
    font-size: 12px;
}
#topnav.nav #main_nav li{
    /*display:inline-block;*/
    float: left;
}
#topnav.nav #main_nav li .div{
    font-size: 13px;
    margin-left: 44px;
    margin-top: -35px;
}
#topnav.nav #main_nav li .find i{
	color: #7b7b7b;
    font-size: 17px;
    margin-top: 2px;
}
#topnav.nav #main_nav li .label{
     padding: 10px 13px;
}
#topnav.nav #main_nav img{
    padding: 12px;
}
#topnav.nav #main_nav li a{
    color: #fff;
    display: block;
    padding: 10px 13px;
    text-decoration: none;
}
#topnav.nav #main_nav li a:hover{
    color:#000;
    background:#fff;
  
}
#topnav.nav #main_nav li span:hover{
     color:#0099ff;
}
#topnav.nav #main_nav li label{
    padding: 5px;
    color:#44444;
}
/*#topnav.nav #main_nav li label:hover{
     color:#0064d1;
}*/
#main_nav_left{
	float: left;
   
}
#topnav.nav #main_nav_left li{
    /*display:inline-block;*/
    float: left;
}
#topnav.nav #main_nav_left li .label{
     padding: 10px 13px;
}
#topnav.nav #main_nav_left img{
     margin-right: 7px;
    margin-top: -6px;
}
#topnav.nav #main_nav_left li a{
    color: #fff;
    display: block;
    padding: 10px 13px;
    text-decoration: none;
}
#topnav.nav #main_nav_left li span:hover{
     color:#0099ff;
}
#topnav.nav .ui-selectonemenu{
	margin-top: 5px;
}
.imgBorder{
	width:100%;
	border:1px solid #ccc; 
	border-radius: 7px ;
}
.activeBlanco{
	background: #fff !important;
}
.activeAzul{
	color:#0064d1 !important;
}
.activeGrisOscuro{
	color:#444444 !important;
}
.addCart{
	background: #0099ff !important;
	width: 122px !important;
}
#menuUsuario ul{
	color: #444444;
}
#menuUsuario ul li{
	margin-left: 17px;
	height: 18px;
	font-size: 11px;
	color:#6a6a6b;}
#menuUsuario ul div{
	font-size: 11px;
    height: 18px;}
#menuUsuario ul hr{    
    background: #fff !important;
    border: 1px solid #efefef !important;
    color: #ccc !important;}